<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="HornsAndHooves.Droid" android:versionCode="1" android:versionName="0.5">
	<uses-sdk android:minSdkVersion="15" />
	<application android:icon="@drawable/icon_app" android:label="О том, как Петя большим и сильным стал"></application>
</manifest>